body {
  padding: 0 20% 0 20%;
}

.form {
  margin-top: 1em;
}

.form-3lu-alan {
  padding: 0 2% 0 3%;
}

.button {
  margin-left: 2%;
}

.sonuc {
  margin-top: 1em;
  margin-left: 1em;
}

.satisFiyati {
  color: blue;
  font-size: large;
  margin-right: 0.4em;
}

.toplamMaliyet {
  color: crimson;
  font-size: large;
  margin-right: 0.4em;
}

.kar {
  color: darkgreen;
  font-size: large;
  margin-right: 0.4em;
}
